<div class ="signin">
  <div>
    <h1>Please Sign in</h1>

    <%= form_tag sessions_path do %>
     <div class="field">
      <div class = 'inner-div'>
        <h2>Login</h2>
      
          <%= text_field_tag :username, nil, placeholder: "Username", :class => 'text' %>

          <%= password_field_tag :password, nil, placeholder: "Password", :class => 'text' %>
          <%= submit_tag 'Sign In', :class => 'submit' %>
        </div>
      </div>
    <% end %>
  </div>
</div>